@use './_reset.scss';
@use './_fonts.scss';
@use './_colors.scss';
@use './_easings.scss';
@use './_scroll.scss';
@use './_functions.scss' as *;
@use './_layout.scss';
@use './_utils.scss';
@use './_font-style.scss';
@use './_themes.scss';

:root {
  --header-height: #{mobile-vw(58px)};

  @include desktop {
    --header-height: #{desktop-vw(98px)};
  }
}

html {
  font-family: monospace;
  background-color: var(--white);
  color: var(--black);

  &.nav {
    overflow: hidden;
  }
}

html,
body {
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  background-color: black;
}



a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: var(--black);
  color: var(--white);
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }

  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}

#leva__root {
  button {
    text-align: center;
  }

  > * {
    width: 300px;
  }
}
